.container {
  width: 100%;
}
.bg-light {
  background-color: #cccccc;
}
#map {
  height: 82%;
  width: 100%px;
}
.pac-input {
  width: 100%;
}

#graph {
  height: 400px;
  width: 100%;
}
#get-times {
  width: 100%;
}
#date-picker {
  width: 100%;
}
.border-red {
  /* border: 4px solid #ff0000; */
  background-color: #5898f8;
  padding: 0x;
  border-radius: 8px;
}
