body {
  background-color: #fffef5 !important;
}
#map {
  height: 82%;
  width: 100%;
}
.pac-input {
  width: 100%;
}

#graph {
  height: 400px;
  width: 100%;
}
#get-times {
  width: 100%;
}
#date-picker {
  width: 100%;
}
.border-red {
  /* border: 4px solid #ff0000; */
  background-color: #83b0f4;
  padding: 0x;
  border-radius: 8px;
}
#avoid-tolls {
}
#checkbox-container {
  height: 100%;
}
#checks {
  display: flex;
  flex-direction: row;
}
